<nz-tabset [nzSize]="size">
    <nz-tab [nzTitle]="'All Homes'">
        
        <div style="margin: 1rem"><app-dest-input #dest></app-dest-input></div>
        <div style="margin: 1rem"><app-range-input #range></app-range-input></div>
        <div style="margin: 1rem"><app-people-input #people></app-people-input></div>
        <div style="margin: 1rem">
          <button nz-button nzType="primary" nzSize="large" nzBlock>Search</button>
        </div>
        
    </nz-tab>
    <nz-tab [nzTitle]="'Agoda Homes'">
        
      </nz-tab>
  </nz-tabset>`