.example-input .ant-input {
    margin: 0 8px 8px 0;
  }

.cust {
    margin-right: .4rem;
    color:#40a9ff;
    font-size: 18px;
    font-weight: bolder;
}

.cust01 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.cust02 {
    margin-right: 4rem;
    margin-left: 4rem;
}

.custfont {
    color: #fff;
    font-size: 14px;
}
